$teal: #32be8f;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// * {
//   box-sizing:border-box;
//   margin:0;
// }

.bodytry {
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    height: 110vh;
    margin-bottom: -50px;
    margin-top: 50px;

}

.containerR {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-containerR {
    display: flex;
}

.left-containerR {
    flex: 1;
    height: 480px;
    background-color: $teal;
}

.right-containerR {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: $white;
    justify-content: center;
    align-items: center;
}

.left-containerR {
    display: flex;
    flex: 1;
    height: 480px;
    justify-content: center;
    align-items: center;
    color: $white;
}

.left-containerR p {
    font-size: 0.9rem;
}

.right-inner-containerR {
    padding: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.left-inner-containerR {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid $teal;
}

button {
    border-radius: 20px;
    border: 1px solid #32be8f;
    background-color: #32be8f;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    .left-containerR {
        display: none;
    }

    .lg-view {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}

form p {
    text-align: left;
}