

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #666;
    font: bold 16px sans-serif;
    color: #fff;
    padding: 20px 90px;
    
    
}

.nav-links a {
    color: #fff;
    font-size: 25px;
}



/* NAVBAR MENU */
.menu {
    display: flex;
}

.menu li:hover {
    background-color: #32be8f;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 10px 50px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


span {
    color: #32be8f;
}

.imgB{
    width: 5.5vw;
}

.imgB {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h3{
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}





/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #666;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        height: 100px;
    }

    .menu li:hover {
       
        background-color: #32be8f;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    .nav-links a {
        text-align: center;
    }
    

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}