.boxHome {
    position: relative;
}

.inputHome {
    padding: 10px;
    width: 300px;
    height: 50px;
    background: none;
    border: 4px solid #32be8f;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: black;
    outline: none;
    transition: .5s;
}

/* .boxHome input:focus{
    width: 350px;
    background:  white;
    border-radius: 10px;
} */
.boxHome i {
    position: absolute;
    top: 55%;
    right: 310px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #32be8f;
    transition: .2s;
}

.boxHome:focus i {
    opacity: 0;
    z-index: -1;
}

/* //////////////// */
.searchHome {
    display: flex;
    align-items: center;

}

/* .searchh {
    width: 400px;
    height: 40px;
    background: #444;
    background: rgba(0, 0, 0, .2);
    border-radius: 300px;
    border: 1px solid #fff;
} */

.inputt {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: black;
    border: 0;
    background: transparent;
    border-radius: 30px 0 0 3px;
    outline: 0;
}

.pCard {
    font-family: 'Abril Fatface', cursive;
    color: #32be8f;
    font-size: 1.5rem;
    padding: 50px;

}


.thread{
	background-color: #32be8f;
    height: 1px;
    width: 50%;

}
.w-100 .siema-charity-carousel{
    
}

/* .h1carddetails {
    text-align: center;
    padding: 20px;
    text-align: center;
    background: #F7F7F7;
    color: black;
    font-size: 30px;
    font-weight: 200;
} */


.flex-container {
    display: flex;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-child {
    flex: 1;
    background: white;
    border: 2px solid #666;
    border-radius: 25px;
    text-align: center;
    padding: 35px;
    margin: 50px;
    box-shadow: 0 10px 20px 0 rgba(30, 30, 30, .07);
}

.flex-child:hover {
    border: 2px solid white;
    box-shadow: 0 20px 50px #32be8f;
}

.imageCard {
    margin-bottom: 10px;
    font-size: 2rem;
}

.h3Card {
    color: black;
    font-size: 30px;
}


@media (max-width: 768px) {
    .flex-container {
        display: block;

    }


    .pCard {
        font-family: 'Abril Fatface', cursive;
        color: #32be8f;
        font-size: 1rem;
        padding: 50px;

    }

    .inputHome {
        padding: 10px;
        width: 250px;
        height: 50px;
        background: none;
        border: 4px solid #32be8f;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 26px;
        color: black;
        outline: none;
        transition: .5s;
    }

}

@media (max-width: 960px) {
    .flex-container {
        display: block;
    }
}