@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


/* .formContact{
    padding: 200px;
} */

.iconDesign{
    color: #32be8f;
}

.iconDesign:hover{
    color: red;
}

.table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;

}

td,
th {
    padding: 15px 30px;
    text-align: center;
}

th {
    background-color: #32be8f;
    color: white;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap;

}
.border{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}