@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');


/* .formContact{
    padding: 200px;
} */

.iconDesign {
    color: #32be8f;
}

.iconDesign:hover {
    color: red;
}

.table {
    position: absolute;

    top: 30%;

    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;

}

td,
th {
    padding: 10px 20px;
    text-align: center;
}

th {
    background-color: #32be8f;
    color: white;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap;

}

.border {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .table{
        margin-top: 80px;
    }
    /* Section three*/
    table,
    thead,
    tbody,
    th,
    tr {
        display: block;
        width: 100%;
    }

    thead{
        display: none;
    }

    /* Section four*/
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border-bottom: 1px solid #ccc;
        
    }

    /* Section five*/
    td {
        display: block;
        margin-bottom: 15px;
        right: 150px;
        margin-left: 10px;
    }

    td:before {
        position:absolute;
        left: 5%;
        width: 100%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        color:#32be8f;
    }

    /* Section six*/

    td:nth-of-type(1):before {
        content: "First Name";
    }

    td:nth-of-type(2):before {
        content: "Last Name";
    }

    td:nth-of-type(3):before {
        content: "Phone Number";
    }

    td:nth-of-type(4):before {
        content: "Email";
    }

    td:nth-of-type(5):before {
        content: "Date";
    }

    td:nth-of-type(6):before {
        content: "Message";
    }

    td:nth-of-type(7):before {
        content: "Action";
    }
}
